@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); /*for linkedin*/
/*fonts used: 
font-family: 'Cormorant Garamond', serif;   ...for main text
font-family: 'EB Garamond', serif;   ..for navbar and others*/ 
/* font for paragraphs - font-family: 'Fira Sans', sans-serif; */



/*  colors used are #6b2a65,  #A16D9D and rgba(0,0,0,0.2) for backgrounds, borders;
/* #C5B6C5  and for text */ 

/* general styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: #6b2a65;
  background-image: linear-gradient(320deg,#6b2a65,transparent 270%), url('../images/background.jpg');;
  background-repeat: no-repeat;
  background-size: 100% 100%,
                   150% 100%;
  background-position: 100% 100%,
                      100% 100%;


   
}
 

h1,h2,h3,h4,h5,h6,p,a,li,ul,ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}



/* utilities */
.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.border{
  box-sizing: content-box;
  border-radius: 2px;
  background-color:  #A16D9D ;
  padding: 4px;
}


/* styling navbar.....*/

.navbar{
  font-family: 'EB Garamond', serif; 
  color: #C5B6C5; 
  padding: 15px 0px 20px 0 ;
  position: fixed;
  width:100%; 
  border-bottom: 1px solid #A16D9D  ;
  background-color: #6b2a65;


}


  
.nav-list{
    text-transform: lowercase;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
}
  



.nav-link:hover{
  transform: translateY(2px); 
  
}

    












  /* BLOG PAGE.................................. ...............................................*/


  .blog_header{
    color: #C5B6C5;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    margin: 63px 0 0px;  /*sum of navbar vertical length + padding*/
    border-bottom: 1px solid #A16D9D;
    background-color: #6b2a65;
    position: fixed;
    width: 100%;
 
  }

  .blogs-container{
    width:80%;
    margin:0 auto;
    margin-top: 9rem;
   }
   
   .blog-posts{
      margin-bottom: 25px;
      box-sizing: content-box;
      border-radius: 2px;
      background-color: rgba(0,0,0,0.4);
      padding: 5px 10px;
   }
   
   
   .blog-card{
     color:#C5B6C5 ;
     
   }
   
   .blog-card h2{
    
     font-weight: 700;
     font-family: 'Cormorant Garamond', serif;
     text-align: center;
     font-size: 1.3rem;
     border-bottom: 1px solid #A16D9D ;
     padding: 10px 0 10px 0;
     margin: 0 0 10px 0;
   }
 
   .blog-card p:nth-child(2){
 
     font-weight: 300;
     font-family: 'Fira Sans', sans-serif;
     font-size: 16px;
     line-height: 1.8rem;
     padding: 0 0 10px 0px;
     text-align: left;
   }
   .blog-card p:nth-child(3){
     font-weight: 300;
     font-family: 'Fira Sans', sans-serif;
     padding: 2px 0;
     font-size: 12px;
     text-align: center;
   }
 
   /* second class selector on article to fit images inside */
   .img-fit img {
     object-fit:cover;
     object-position: 50% 50%;;
     height:100%;
     width: 100%;
     padding-top: 10px;
     
   
 
 }
 
 
 








/* external links section styling .....*/



.external-links{


  width: 100vw;
  padding-bottom: 4px; 
  cursor: pointer;
 
}




.linkedin img{
    height: 20px;
    width: 22px;
    margin-right: 17px;
}
  


.stackoverflow img{
  
  height: 20px;
  width: 22px;
  margin-right: 17px;
  
}
  


.github img{
    height: 21px;
    width: 21px;
    margin-right: 17px;
}

.twitter img{

  height: 21px;
  width: 21px;
  
} 







/*  footer styling*/


.index-footer{
  color: #C5B6C5;
  font-family: 'EB Garamond', serif;  
  
}


.copyright{

  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  width: 100vw;
  border-top: 1px solid #A16D9D ;

}




/* media queries */


@media only screen and (min-width: 768px){

  html, body{
    background-size: 100% 100%,
                   100% 100%;
  }
  .nav-list{
    font-size: 1.5rem;
  }




  /* external links change */

  .external-links{
    bottom: 27px;
  }
  .linkedin img{
    height: 30px;
    width: 32px;
    margin-right: 20px;
  }
  .stackoverflow img{
    height: 30px;
    width: 32px;
    margin-right: 20px;
    
  }
  .github img{
    height: 31px;
    width: 31px;
    margin-right: 20px;
  }
  .twitter img{
    height: 30px;
    width: 30px;
    margin-right: 20px; 
  }


  /* blog page change */

.blogs-container{
    width:60%;
    margin:0 auto;
    margin-top: 20vh;
}

.blog-posts{
  padding: 10px 15px;
}
.blog-card p:nth-child(2){
 
  padding: 0 0 10px 0px;
  text-align: left;
}

}


/* media query for laptop  */

@media only screen and (min-width: 1024px){


 



.blogs-container{
  width: 260vw;     /*  beyong viewport content overflows*/
  height:52vh;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;

}

/* total width of container= 260vw 
There are 5 blog posts = 52vw for each;

*/


.blog-posts{    /* applies to each blog post - has two children (content and image)*/
  width:52vw;
  height:52vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #A16D9D;

 
 
 
} 


.blog-card{
   padding:2rem;
   
}

.blog-card h2{
  padding:0 0 2px 0;
}
.blog-card p:nth-child(2){
  padding:0;

}













/* external links */


.external-links{
  position: absolute;
  bottom:20px;

}

.index-footer{
  position: absolute;
  bottom: 0;
}








}



@media only screen and (min-width: 1440px){

/* navbar */

.nav-list{
  font-size: 1.75rem;
}

}