@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); /*for linkedin*/
/*fonts used: 
font-family: 'Cormorant Garamond', serif;   ...for main headlines
font-family: 'EB Garamond', serif;   ..for navbar*/ 
/* font for paragraphs or sub-headings - font-family: 'Fira Sans', sans-serif; */


/*  colors used are #6b2a65,  #A16D9D and rgba(0,0,0,0.2) for backgrounds, borders;
/* #C5B6C5  and for text */ 


/* MOBILE FIRST DESIGN ............*/



/* general styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #6b2a65;
  background-image: linear-gradient(320deg,#6b2a65,transparent 250%), url('../images/background.jpg');;
  background-repeat: no-repeat;
  background-size: 100% 100%,
                   150% 100%;
  background-position: 100% 100%,
                      100% 100%;

                     
   
}
 



h1,h2,h3,h4,h5,h6,p,a,li,ul,ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

input{
  background-color: transparent;
   border:none;
   outline: none;
   border-bottom:1px solid #A16D9D;
   border-radius: 0px;
}

input:active input:focus{
  border:none;
  outline: none;
}

button{
  outline: none;
  border:none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
}
button:active, button:focus{
  outline: none;
  border:none;
}

/* utilities */
.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.border{
  box-sizing: content-box;
  background-color:  #6b2a65;
  padding:5px;
 
 
}




/* styling navbar.....*/

.navbar{
  font-family: 'EB Garamond', serif; 
  color: #C5B6C5; 
  padding: 15px 0px 20px 0 ;
  border-bottom: 1px solid #A16D9D  ;
  background-color: #6b2a65;

}


  
.nav-list{
    text-transform: lowercase;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
}
  


.nav-link:hover{
  transform: translateY(2px); 
  
}

    






  /* styling the intro... */



  .intro{
  
    color:  #C5B6C5 ;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
   


  }


  .intro-headline{
    font-size: 1.5rem;
    padding: 10px 0px;
    border-bottom:0.5px solid #A16D9D;
    font-family: 'Cormorant Garamond', serif;

  }

  .intro-para{
    padding: 2px 0;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Fira Sans', sans-serif;

}
  
    




/* external links section styling .....*/



.external-links{

  position: absolute;
  bottom:20px;
  width: 100vw;
  padding-bottom: 4px; 
  cursor: pointer;
 
}




.linkedin img{
    height: 20px;
    width: 22px;
    margin-right: 17px;
}
  


.stackoverflow img{
  
  height: 20px;
  width: 22px;
  margin-right: 17px;
  
}
  


.github img{
    height: 21px;
    width: 21px;
    margin-right: 17px;
}

.twitter img{

  height: 21px;
  width: 21px;
 
} 






/*  footer styling*/


.index-footer{
  color: #C5B6C5;
  font-family: 'EB Garamond', serif;  
  
}


.copyright{

  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  width: 100vw;
  border-top: 1px solid #A16D9D ;

}



/* code cloud styling*/



.html-css{
  font-family: 'Fira Sans', sans-serif;
  color:#C5B6C5;
  width: 100vw;
  padding: 20px 0 0px 0;
  margin: 10vh 0 0 10vw;
  opacity:0.2;
  position: absolute;
  top: 35vh;
  left:0;
  

 
  
}

.style-text{
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 2px 2px 5px #000000;
  display: inline-block;
  color:#C5B6C5;
}

 


.style-code{
  font-size: 16px;
  font-family: inherit;
  animation: flash 3.5s linear forwards infinite ;
  
 

}
.style-code1{
  font-size: 1rem;
  font-family: inherit;
  animation: flash 5.5s linear forwards infinite;
  
}
.style-code2{

  font-size: 1rem;
  font-family: inherit;
  animation: flash 4.5s linear forwards infinite 0.2s;
 
}




/* animation - A Code Cloud */

@keyframes flash{
  0%{
    opacity:0;
  }
  25%{
    opacity:0.5;
  }
  50%{
    opacity:1;
  }
  75%{
  opacity: 0.5;
  }
 100%{
   opacity:0.2;
    
  }
} 










/* ABOUT ME PAGE............................................................................................ */


.about_me{
  color: #C5B6C5;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding: 2px 0;
  background-color: #6b2a65a9;

}

/* grid styling */


.grid{
    display: grid;
    height: 27vh;
    width: 90%;
    padding-top: 10px;
    margin: 0  auto;
    margin-top: 2vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:60% 40%;
    filter: sepia(18%) opacity(72%);
   

    
     
}
  


.cell1 {
    grid-row: 1/span 2;
    grid-column: 1 ;
   
}
  
    
  


.cell2{
    grid-row: 1;
    grid-column: 2/span 3;

}



.cell3{
    grid-row: 2;
    grid-column: 2;
  
}
    


.img-fit img {
    object-fit:cover;
    object-position: 50% 50%;;
    height:100%;
    width: 100%;
   

}




/* about me content  styling */

.about-details{
    margin: 25px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    color:  #C5B6C5 ;


}

.about summary{
    padding: 10px 0 20px 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    outline: none;
    border:none;



}


.about[open] > summary{
    padding: 2px 0 2px 0;
    background-color: rgba(0,0,0,0.3);
    list-style: none;
    text-align: center;
    font-size: 16px;
    outline: none;
    border:none;
    width: 90vw;
    margin: 0 auto;

}

.about[open] > p{
  padding: 5px 1vw;
  line-height: 1.1rem;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  width: 90vw;
  margin: 0 auto;
 
  
}
.about[open] > summary:active{
   
    outline: none;
    border:none;

}
.about[open] > summary:focus{
   
    outline: none;
    border:none;

}
   


.about[open] > p a{
  
  border-bottom:2px solid #A16D9D;
  background-color: transparent;
  color:  #C5B6C5;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}




/* CONTACT PAGE ...................................................................................................................... */

.contact_me{
  color: #C5B6C5;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding: 2px 0;
  background-color: #6b2a65a9;
}

  /* image styling... */


  .img-wrapper{
  
    width: 100px; 
    height:125px; 
    margin: 0 auto ; 
    margin-top: 1.5rem;
    opacity:0.8; 
    background-color: #6b2a65; 
    border-radius: 30px 12px  / 40px 2px;  

}

  .my-image {
    border-radius: 25px 12px  / 40px 2px; 
    margin: 0% 15%; 
    filter:  grayscale(20%); 
    box-shadow: 2px 14px 20px 2px #6b2a65;
    width: 85px;
    height:110px;
   
  }




 /*Contact  form styling */
.contact-form{
   color: #C5B6C5 ;
   font-family: 'Fira Sans', sans-serif;
   font-weight: 400;
   font-size: 14px;
  
}


.contact-form input{
  color:black;
  
}

.contact-form button{
  font-weight: 600;
  padding: 2px;
  border: 1px solid  #A16D9D;
  
 
  
}



/* content para */

.info-para h1{
  font-size: 1rem;
  text-align: center;
  padding: 5px 2px;
  font-family: 'Cormorant Garamond', serif; 

}

.info-para p{
    padding: 8px 15px;
    text-align: justify;
    margin: 1px 10vw;
    font-size: 14px;
    font-weight: 300;
}





/* contains input and label element */
.input-container{
  width: 220px;
  margin:0 auto;
  background-color: rgba(0,0,0,0.3);
 

}

.input-container button{
  width:200px;
  margin: 5px 10px;

}
.padding{
 padding: 5px 8px 20px 10px; 

}

/* address styling */


.index-footer address {

    position:absolute ;
    bottom: 60px;
    left:0;
    width:100%;
    text-align: center;
    font-size: 14px;
    font-weight:300 ;
    padding:10px;
    line-height: 1.1rem;
    font-family: 'Fira Sans', sans-serif;
  
}











/* media queries......................................................................... */


@media only screen and (min-width: 530px){

.grid{
  width: 70%;
  margin-top: 2rem;
  height: 30vh;
}


.img-fit{
    object-position: 50% 0%;
  }
}
@media only screen and (min-width: 768px){

/* index page ...............*/
  html, body{
    background-size: 100% 100%,
                   100% 100%;
  }
  

  /* navbar */
  .nav-list{
    font-size: 1.5rem;
  }



  .intro{
    margin-top: 30vh;
  }
  .intro-headline{
    font-size: 1.8rem;
  }
  .intro-para{
    font-size: 1.2rem;
  }


  /* external links style */
  .external-links{
    bottom: 19px;
    
  }
  .linkedin img{
    height: 30px;
    width: 32px;
    margin-right: 20px;
    
  }
  .stackoverflow img{
    height: 30px;
    width: 32px;
    margin-right: 20px;
  }
  .github img{
    height: 31px;
    width: 31px;
    margin-right: 20px;
  }
  .twitter img{
    height: 30px;
    width: 30px;
   
  }
  
  /* about page ...................*/

.about_me{
  font-size: 1.4rem;
}
.grid{
    width: 70%;
    margin-top: 2rem;
    height: 37vh;
   
}
.border{
    padding: 6px;
}


.img-fit img {
    object-fit:cover;
    object-position: 40% 50%;
  
}
.about[open] > summary{
  padding: 1px 5px;
  font-size: 1.1rem;
   width: 30rem;
  margin: 0 auto; 

 
   
}

.about[open] > p{
  padding: 10px;
  line-height: 1.1rem;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
   width: 30rem;
   margin:0 auto;



  
}

.info-para h1{
  font-size: 1.3rem;

}

.info-para p{
    font-size: 16px;
}

.input-container{
  width: 250px;
  margin:0 auto;
}
.input-container button{
  width:230px;
  margin: 5px 10px;

}

.padding{
  padding: 10px 5px 20px 10px; 
 
 
 }

 /* contact page ......................*/

 .contact_me{
  font-size: 1.4rem;
 }




}


/* media query for  min-width 1024px.................. */


@media only screen and (min-width: 1024px){

/* main background.............*/

html,body{
background-size: 100% 100%,
                  145% 150%;
background-position: 100% 100%,
                  100% 50%;
}



/* index page .............*/

.intro-headline{
  font-size: 2.4rem;
}

.nav-list{
  font-size: 1.4rem;
}

/* about me page ...... */

.grid{
  height: 55vh;
  width:50%;
  margin: 2.5rem 0px 0 5rem;
  float: left;
  grid-gap: 0;
  padding-top:0;
  background-color: #6b2a65;

}




.border{
  padding: 6px;
  box-sizing: border-box;
}

.img-fit img {
  object-fit:cover;
  object-position: 50% 70%;;
  height:100%;
  width: 100%;

}





.about-details{
  margin: 2.5rem 0px 0 7rem;
  height: 55vh;
  background-image: linear-gradient(110deg,#6b2a65,transparent 500%), url('../images/background.jpg');;
  background-repeat: no-repeat;
  background-size: 100% 100%,
                   130% 120%;
  background-position: 100% 100%,
                      0% 50%;
}
.about summary{
  font-size: 1.3rem;
  font-weight: 400;

  

}
.about summary:nth-child(1){
  margin-top:2rem;
  /* margin-bottom: 2rem; */
}



.about[open] > summary{
  width: 25rem;
  margin: 0 auto;
  padding-top:10px;

}

.about[open] summary:nth-child(1){
  margin-top:10px;

}
.about[open] > p{
  padding: 5px 5px;
  width: 25rem;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 300;

  
}



/* contact page media query ........*/


.contact-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
 
  
}

.contact-form label{
    font-size: 16px;
}
.contact-background{
  position: absolute;
  background-image: linear-gradient(110deg,#6b2a65,transparent 250%), url('../images/background.jpg');;
  background-repeat: no-repeat;
  background-size: 100% 100%,
                   100% 200%;
  background-position: 100% 100%,
                      60% 50%;
  width:90vw;
  height: 20rem;
  top:17.9rem;
  right:4rem;
 
}


.info-para p{
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 300;
}


.input-container{
  margin-right:12rem;
  margin-bottom: 1rem;
  width: 300px;

}



.input-container button{
  width:260px;
  margin: 10px 10px;

}





}






/* media queries for 1440px size latop large ...........................................*/


@media only screen and (min-width: 1440px){


html,body{

    background-image: linear-gradient(320deg,#6b2a65,transparent 300%), url('../images/background.jpg');;
    background-repeat: no-repeat;
    background-size: 100% 100%,
                    145% 150%;
    background-position: 100% 100%,
                    100% 50%;
  }
  

/* index page */

.intro{
  margin-top: 10rem;
}
.intro-headline{
  font-size: 3.1rem;
}
.intro-para{
  font-size: 1.5rem;
  font-family: 'Cormorant Garamond', serif; 
}


/* navbar */

.nav-list{
    font-size: 1.75rem;
}


.nav-link:visited{
    border:1px solid #A16D9D;
}





/* contact page */

.contact-background{
  position: absolute;
  background-image: linear-gradient(110deg,#6b2a65,transparent 250%), url('../images/background.jpg');;
  background-repeat: no-repeat;
  background-size: 100% 100%,
                   100% 200%;
  background-position: 100% 100%,
                      60% 50%;
  width:90vw;
  height: 30rem;
  top:20rem;
  right:4rem;
 
}

.info-para h1{
  font-size: 1.6rem;
}
.info-para p{
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 300;
}

.input-container{
  margin-right:20rem;
  margin-bottom: 1rem;
  width: 450px;

}

.padding{
  padding: 20px 15px; 
 
 
 }

/* about me */


.grid{
    height: 52vh;
    width:50%;
    margin: 4.4rem 0px 0 0rem;
    float: left;
    background-color: #6b2a65;

}


.about-details{
    height: 52vh;
    margin: 4.4rem 0px 0 0; 
    background-image: linear-gradient(110deg,#6b2a65,transparent 400%), url('../images/background.jpg');;
    background-repeat: no-repeat;
    background-size: 100% 100%,
                     100% 200%;
    background-position: 100% 100%,
                        60% 50%;
    display: flex;
  
}

.about  summary{
    font-size: 1.55rem;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
    margin: 0;
  
  
}
.about[open] > summary{
   font-size: 1.4rem;
    width:40rem;
    margin: 0 auto;
 

}
.about[open] > p{
    padding: 12px;
    width:40rem;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.55rem;
    font-weight: 300; 
}

.about[open] summary:nth-child(1){
  margin-top:2rem;

}
.about[open] > p{
  margin-bottom: 2rem;
}













}


