@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); /*for linkedin*/
/*fonts used: 
font-family: 'Cormorant Garamond', serif;   ...for main text
font-family: 'EB Garamond', serif;   ..for navbar and others*/ 
/* font for paragraphs - font-family: 'Fira Sans', sans-serif; */


/*  colors used are #6b2a65,  #A16D9D and rgba(0,0,0,0.2) for backgrounds, borders;
/* #C5B6C5  and for text */ 






/* general styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #6b2a65;
  background-image: linear-gradient(320deg,#6b2a65,transparent 200%), url('../images/background.jpg');;
  background-repeat: no-repeat;
  background-size: 100% 100%,
                   150% 100%;
  background-position: 100% 100%,
                      100% 100%;

                     
   
}
 



h1,h2,h3,h4,h5,h6,p,a,li,ul,ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

input{
  background-color: transparent;
   border:none;
   outline: none;
   border-bottom:2px solid #A16D9D;
}

input:active input:focus{
  border:none;
  outline: none;
}


/* utilities */
.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.border{
  box-sizing: content-box;
  border-radius: 2px;
  background-color:  #A16D9D ;
  padding: 4px;
}




/* styling navbar.....*/

.navbar{
  font-family: 'EB Garamond', serif; 
  color: #C5B6C5; 
  padding: 15px 0px 20px 0 ;
  position: fixed;
  background-attachment: fixed;
  background-image:  linear-gradient( #6b2a65,transparent 500%) ;
  width:100%; 

}


  
.nav-list{
    text-transform: lowercase;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
}
  

.nav-link{
    border-bottom: 1px solid #A16D9D;
}

.nav-link:hover{
  transform: translateY(2px); 
  
}

    






  /* styling the intro... */



  .intro{
  
    color:  #C5B6C5 ;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
   


  }


  .intro-headline{
    font-size: 1.5rem;
    padding: 10px 0px;
    border-bottom:0.5px solid #A16D9D;
    font-family: 'Cormorant Garamond', serif;

  }

  .intro-para{
    padding: 2px 0;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Fira Sans', sans-serif;

}
  
    




/* external links section styling .....*/



.external-links{

  position: absolute;
  bottom:20px;
  width: 100vw;
  padding-bottom: 4px; 
  cursor: pointer;
 
}




.linkedin{
    background-image: url('../images/linkedin.png');
    background-size: 100% 100%;
    height: 20px;
    width: 22px;
}
  


.stackoverflow{
  background-image: url('../images/stackoverflow.png');
  background-size: 100% 100%;
  height: 20px;
  width: 22px;
  margin-right: 12px;
  
}
  


.github {
    cursor: pointer;
    text-decoration: none;
    height: 21px;
    width: 21px;
    background-image: url('../images/github.png');
    background-size: 100% 100%;
    margin-right: 12px;
}

.twitter {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: 21px;
  width: 21px;
  background-image: url('../images/twitter.png');
  background-size: 100% 100%;
  margin-left: 12px;
} 

/*  footer styling*/


.index-footer{
  color: #C5B6C5;
  font-family: 'EB Garamond', serif;  
  
}


.copyright{

  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  width: 100vw;

}



/* code cloud styling*/



.html-css{
  font-family: 'Fira Sans', sans-serif;
  color:#C5B6C5;
  width: 100vw;
  padding: 20px 0 0px 0;
  margin: 10vh 0 0 10vw;
  opacity:0.2;
  position: absolute;
  top: 35vh;
  left:0;
  

 
  
}

.style-text{
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 2px 2px 5px #000000;
  display: inline-block;
  color:#C5B6C5;
}

 


.style-code{
  font-size: 16px;
  font-family: inherit;
  animation: flash 3.5s linear forwards infinite ;
  
 

}
.style-code1{
  font-size: 1rem;
  font-family: inherit;
  animation: flash 5.5s linear forwards infinite;
  
}
.style-code2{

  font-size: 1rem;
  font-family: inherit;
  animation: flash 4.5s linear forwards infinite 0.2s;
 
}

/* second code cloud  */



.second_group{
   display: none;
}

@media only screen and (min-width: 768px){
  .second_group{
    font-family: 'Fira Sans', sans-serif;
    color:#C5B6C5;
    padding: 20px 0 0px 0;
    opacity:0.2;
    position: absolute;
    top: 5vh;
    right:5vw;
  }
}


/* animation - A Code Cloud */

@keyframes flash{
  0%{
    opacity:0;
  }
  25%{
    opacity:0.5;
  }
  50%{
    opacity:1;
  }
  75%{
  opacity: 0.5;
  }
 100%{
   opacity:0.2;
    
  }
} 










/* ABOUT ME PAGE............................................................................................ */


/* grid styling */


.grid{
    display: grid;
    height: 27vh;
    width: 90%;
    padding-top: 10px;
    margin: 0  auto;
    margin-top: 16vh;
    grid-template-columns: 40% 60%;
    grid-template-rows:60% 40%;
    grid-gap: 4px;
    filter: sepia(0%) opacity(72%);
    
     
}
  


.cell1 {
    grid-row: 1/span 2;
    grid-column: 1;
   
  
    
}
  


.cell2{
    grid-row: 1;
    grid-column: 2;

}



.cell3{
    grid-row: 2;
    grid-column: 2;
  
}
    


.img-fit img {
    object-fit:cover;
    object-position: 50% 50%;;
    height:100%;
    width: 100%;
}




/* about me styling */

.about-details{
    margin: 25px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    color:  #C5B6C5 ;


}

.about summary{
    padding: 10px 0 20px 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;


}


.about[open] > summary{
    padding: 1px 5px;
    background-color: rgba(0,0,0,0.2);
    list-style: none;
    text-align: center;
    font-size: 16px;

}
   

.about[open] > p{
    padding: 1vh 1vw;
    line-height: 1.1rem;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
   
    
}
.about[open] > p a{
  
  border-bottom:2px solid #A16D9D;
  background-color: transparent;
  color:  #C5B6C5;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}




/* CONTACT PAGE ...................................................................................................................... */



  /* image styling... */


  .img-wrapper{
  
    width: 100px; 
    height:125px; 
    margin: 0 auto ; 
    margin-top: 20vh;
    opacity:0.8; 
    background-color: #6b2a65; 
    border-radius: 30px 12px  / 40px 2px;  

}

  .my-image {
    border-radius: 25px 12px  / 40px 2px; 
    margin: 0% 15%; 
    filter:  grayscale(20%); 
    box-shadow: 2px 14px 20px 2px #6b2a65;
    width: 85px;
    height:110px;
   
  }




 /*Contact  form styling */
.contact-form{
   color: #C5B6C5 ;
   font-family: 'Fira Sans', sans-serif;
   
  
}
.contact-form label{
  font-weight: 400;
  font-size: 1rem;
 
}
.contact-form input{
  font-weight: 400;
  font-size: 1rem;
  
}

.info-para h1{
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.info-para p{
    padding: 8px 15px;
    text-align: justify;
    margin: 0 10vw;
}








/* containes input and label element */
.input-container{
  width: 70%;
  margin:0 auto;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
 

}

.padding{
 padding: 20px 15px;

}

/* address styling */


.index-footer address {

    position:absolute ;
    bottom: 60px;
    left:0;
    width:100%;
    text-align: center;
    font-size: 14px;
    font-weight:300 ;
    padding:10px;
    line-height: 1.4rem;
    font-family: 'Fira Sans', sans-serif;
  
}


/* media queries */

/* font-family: 'Fira Sans', sans-serif;
    color:#C5B6C5;
    padding: 20px 0 0px 0;
    opacity:0.2;
    position: absolute;
    top: 5vh;
    right:5vw; */

@media only screen and (min-width: 768px){


  html, body{
    background-size: 100% 100%,
                   100% 100%;
  }
  
  .nav-list{
    font-size: 1.5rem;
  }

  .intro{
    margin-top: 30vh;
  }
  .intro-headline{
    font-size: 1.8rem;
  }
  intro-para{
    font-size: 1.2rem;
  }







}